 /* Styling */
 /* Style the tab */

 body{
     max-width:400px;
     border: black solid 2px;
 }

 header{
     align-content: center;
     height: 10%;
 }

 .chatRoom{
       height: 400px;
       border:grey solid 1px;
       background-blend-mode: lighten;
   }

 .tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: antiquewhite;
 }


 .tab button {
     background-color: inherit;
     max-width: 45%;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
 }


 .tab button:hover {
     background-color: aqua;
 }


 .tab button.active {
     background-color: cadetblue;
 }


 .tabContent {
     display: none;
     padding: 6px 12px;
     border-top: none;
     max-width: fit-content;
 }

 .btn{
     text-align:right ;
 }

 .form-group{
     align-items: center;
 }

